desktop.ini
/.vs
/.vscode
solution/.vs
solution/config.json
solution/desktop.ini
solution/__pycache__
solution/Resource/Question/*
solution/Resource/QuestionSolution/*
solution/CodeExec/__pycache__
solution/Controller/__pycache__
solution/ControllerPydantic/__pycache__
solution/Logic/__pycache__
solution/Model/__pycache__
solution/Entity/__pycache__
solution/Service/__pycache__
solution/PreOperation/__pycache__