desktop.ini
/.vs
/.vscode
solution/.vs
solution/bin
solution/Log
solution/old_*
solution/Init.conf
solution/ActivationFile.conf
solution/appsettings.json
solution/Wrapper.sh
solution/desktop.ini
solution/Resource/Question/*
solution/Resource/QuestionSolution/*

solution/__pycache__
solution/CodeExec/__pycache__
solution/Controller/__pycache__
solution/ControllerPydantic/__pycache__
solution/Logic/__pycache__
solution/Model/__pycache__
solution/Entity/__pycache__
solution/Service/__pycache__