desktop.ini
/.vs
/.vscode
solution/.vs
solution/bin
solution/Log
solution/old_*
solution/Init.conf
solution/ActivationFile.conf
solution/appsettings.json
solution/Wrapper.sh

solution/ServerExam/.vscode
solution/ServerExam/.vs
solution/ServerExam/.config
solution/ServerExam/v16
solution/ServerExam/obj
solution/ServerExam/bin
solution/ServerExam/Log
solution/ServerExam/output
solution/ServerExam/app